.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  
}
.Data{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 250px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(79, 109, 110);
}
.imgAll{
  width: 70px;
  height: 70px;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
}
